#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto min-content;
  grid-template-areas: '.' '.' '.';
  width: 100vw;
  height: 100vh;
}

.message-list {
  background-color: aquamarine;
}

#header {
  background-color: deepskyblue;
  text-align: center;
}

#room {
  margin: 5px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}
